<form asp-action="Index" method="get" class="row mb-3">

    <div class="col-md-3">
        <input type="text"
               name="searchString"
               value="@ViewBag.CurrentSearch"
               class="form-control"
               placeholder="Search by name..." />
    </div>

    <div class="col-md-3">
        <select name="categoryId" class="form-select">
            <option value="">All categories</option>

            @foreach (var category in ViewBag.Categories)
            {
                if (ViewBag.CurrentCategoryId != null && ViewBag.CurrentCategoryId == category.Id)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </div>

    <div class="col-md-3">
        <select name="sortOrder" class="form-select">
            <option value="">Name A-Z</option>
            <option value="name_desc">Name Z-A</option>
            <option value="age_asc">Age Low-High</option>
            <option value="age_desc">Age High-Low</option>
        </select>
    </div>

    <div class="col-md-1">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>

    <div class="col-md-2">
        <a asp-action="Index" class="btn btn-secondary">
            Reset
        </a>
    </div>

</form>