@model List<ZooApp.Models.Animal>

<h1>Animals</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Nieuw dier toevoegen
    </a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var animal in Model)
    {
        <tr>
            <td>@animal.Id</td>
            <td>@animal.Name</td>
            <td>@animal.Species</td>
            <td>@animal.Age</td>
            <td>
                <a asp-action="Details" asp-route-id="@animal.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@animal.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>